body {
  background-color: rgb(48, 37, 23);
}

#startbg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  border-radius: 50px;
  border: 10px solid rgb(105, 105, 105);
  border-style: outset;
}

#image-container {
  /* Center the div horizontally and vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Set a background color (optional) */
  background-color: transparent;
  /* Padding and margin (optional) */
  padding: 20px;
  margin: auto;
  text-align: center;
}

#card1, #card2, #card3, #card4{
  /* Add any styling you need for the images */
  width: 200px; /* Set the width of the images */
  height: 210px; /* Maintain aspect ratio */
  display: inline; /* Ensure the images are displayed as block elements */
  margin-right: 10px; /* Add some space between the images */
  vertical-align: top; /* Align images vertically to the top */
}

#back {
  position: absolute;
  z-index: 3;
  width: 110px;
  height: 110px;
  right: 23%;
  top: 66%;
}